<mat-toolbar color="primary">
<!--  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <a href="" routerLink="/restaurant-list"><button mat-menu-item>Restaurant list</button></a>-->
<!--  </mat-menu>-->
  <span class="top-title"><a href="" routerLink="/">Foodie Place</a></span>
  <span class="spacer"></span>

<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>favorite</mat-icon>-->
<!--  </button>-->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="redirectToLogin()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
