::ng-deep .star-svg {
  width: 40%;
  margin-top: -20px;
}

.review-container {
  margin: 0 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 400px;
}

.review-container div {
  width: 50%;
}
.review-container div img {
  width: 90%;
  padding: 30px 15px;
}
.review-container__description {
  width: 90% !important;
  font-size: 14px;
  line-height: 27px;
}
agm-map {
  height: 300px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#review {
  padding: 25px 5px;
}

table {
  width: 80%;
  margin: 0 10%;
}
