.restaurants-list {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.restaurants-list__items {
  width: 50%;

}
.restaurants-list__map {
  width: 50%;
}
agm-map {
  height: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}

span{
  padding: 5px;
}
