<div class="restaurants-list">
  <mat-icon routerLink="/restaurant-details/">add</mat-icon>
  <div class="restaurants-list__items">
    <mat-card class="tp-card" *ngFor="let item of restaurants">
      <mat-card-header>
<!--        <div mat-card-avatar class="tp-header-image"></div>--> <!--icon on the top -->
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.street1}}, {{item.city}}, {{item.state_code}}, {{item.zip}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src = "{{item.image}}" alt = "Learn HTML5">
      <mat-card-content>
        <p>
          <strong>Phone: </strong> {{item.phone}}
        </p>
        <p>
          <strong>Website: </strong> <a target="_blank" href="{{item.website.indexOf('http') !== -1 ? item.website : 'http://www.'+item.website}}">{{item.website}}</a>
        </p>
        <p *ngIf="item.rating">
          <strong>Rating: </strong> <star-rating [starType]="'svg'" [rating]="item.rating"></star-rating>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/restaurant-review/{{item.id}}">MORE</button>
        <button mat-button routerLink="/restaurant-details/{{item.id}}">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div  class="restaurants-list__map">
<!--  Google map  -->
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="item.geo.lat" [longitude]="item.geo.lng" *ngFor="let item of restaurants"></agm-marker>
    </agm-map>
  </div>
</div>
