.restaurants-list {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

}
.restaurants-list__items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
.restaurants-list__map {
  width: 50%;
}
agm-map {
  height: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}

span{
  padding: 5px;
}

.tp-card {
  width: 40%;
  margin-bottom: 25px;
}
.tp-header-image {
  background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
  background-size: cover;
}

.mat-card-image {
  object-fit: cover;
  height: 200px;
}
::ng-deep .mat-card-header-text {
  margin: 0 !important;
}
