<div class="header">
<!--  <div class="icons-wrapper">-->
<!--    <div class="icons" (click)="switchIcon('all')" [ngClass]="{active: activeIcon === 'all'}">All</div>-->
<!--    <div class="icons" (click)="switchIcon('indian')" [ngClass]="{active: activeIcon === 'indian'}">Indian</div>-->
<!--    <div class="icons" (click)="switchIcon('asian')" [ngClass]="{active: activeIcon === 'asian'}">Asian</div>-->
<!--    <div class="icons" (click)="switchIcon('mediterranean')" [ngClass]="{active: activeIcon === 'mediterranean'}">Mediterranean</div>-->
<!--    <div class="icons" (click)="switchIcon('american')" [ngClass]="{active: activeIcon === 'american'}">American</div>-->
<!--    <div class="icons" (click)="switchIcon('italian')" [ngClass]="{active: activeIcon === 'italian'}">Italian</div>-->
<!--    <div class="icons" (click)="switchIcon('bakery')" [ngClass]="{active: activeIcon === 'bakery'}">Bakery</div>-->
<!--    <div class="icons" (click)="switchIcon('vegan')" [ngClass]="{active: activeIcon === 'vegan'}">Vegan</div>-->
<!--  </div>-->
<!--  -->

  <div class="container">
    <div class="block">
      <div class="round" (click)="switchIcon('all')" [ngClass]="{active: activeIcon === 'all'}">
        <span>All</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('indian')" [ngClass]="{active: activeIcon === 'indian'}">
        <span>Indian</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('asian')" [ngClass]="{active: activeIcon === 'asian'}">
        <span>Asian</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('mediterranean')" [ngClass]="{active: activeIcon === 'mediterranean'}">
        <span>Mediterranean</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('american')" [ngClass]="{active: activeIcon === 'american'}">
        <span>American</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('italian')" [ngClass]="{active: activeIcon === 'italian'}">
        <span>Italian</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('bakery')" [ngClass]="{active: activeIcon === 'bakery'}">
        <span>Bakery</span>
      </div>
    </div>
    <div class="block">
      <div class="round" (click)="switchIcon('vegan')" [ngClass]="{active: activeIcon === 'vegan'}">
        <span>Vegan</span>
      </div>
    </div>
  </div>
  <div class="search-wrapper">
    <mat-form-field class="example-full-width">
      <mat-label>Type something</mat-label>
      <input #inputRef matInput placeholder="Enter restaurant name">
    </mat-form-field>
    <button mat-button color="primary" (click)="search()">Search</button>
  </div>
</div>

